body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

#toolbar {
  margin: 10px 0;
}

#book {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pdf-page {
  margin: 5px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
